*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 50px;
    padding: 0 0 15px;
}

table{
    margin: auto;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    text-align: center;
    height: 70px; 
    width: 70px;
    background:rgb(12, 167, 102);
}

.snake-container{
    text-align: center;
    margin-top: 20px;
}

.user-1-pos {
    background-color: #087090;
}
.user-2-pos {
    background-color: #9e0082;
}
.buttons-col {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
div.screen {
    border: 1px solid silver;
    min-width: 50px;
    line-height: 2.3em;
}

button.active{
    width: 150px;
    height: 40px;
    background:rgb(12, 144, 167);
    border-radius: 15px;
    cursor: pointer;
}

button.not-active {
    width: 150px;
    height: 40px;
    background: #e4e4e4;
    border-radius: 15px;
}
div.turn-alert {
    padding: 30px 0 0;
}

